<!-- index.html -->

<!doctype html>
<html>
  <head>
    <title>Angular Forms</title>

    <!-- LOAD BOOTSTRAP CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- LOAD JQUERY -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>

    <!-- LOAD ANGULAR -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>


    <script>
      <!-- WE WILL PROCESS OUR FORM HERE -->

      // define angular module/app
      var formApp = angular.module('formApp', []);

      function htmlUnescape(str){
        return str
        .replace(/&quot;/g, '"')
        .replace(/&#39;/g, "'")
        .replace(/&lt;/g, '<')
        .replace(/&gt;/g, '>')
        .replace(/&amp;/g, '&');
      }

      function SelectAll(id)
      {
        document.getElementById(id).focus();
        document.getElementById(id).select();
      }

      // create angular controller and pass in $scope and $http
      function formController($scope, $http) {

        // create a blank object to hold our form information
        // $scope will allow this to pass between controller and view
        $scope.formData = {};
        $scope.formData.name = "http://google.com";

        // process the form
        $scope.processForm = function() {

          $http({
          method  : 'POST',
          url     : 'restore.php',
          data    : $.param($scope.formData), 
          dataType: "xml", // pass in data as strings
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
          })
          .success(function(data) {
            console.log(data);
            $scope.message = htmlUnescape(data);     

            /**var mydiv = document.getElementById("jkj");
            var a = document.createElement('a');
            a.download = "export.xml";
            a.href = "data:text/html," +  $scope.message;
            a.innerHTML = "[Export conent]";
            mydiv.appendChild(a); **/
          });
        };
      }

    </script>

  </head>
  <!-- apply the module and controller to our body so angular is applied to that -->
  <body ng-app="formApp" ng-controller="formController">
  <div class="container" id="jkj">
    <div class="col-md-6 col-md-offset-3">

    <!-- PAGE TITLE -->
    <div class="page-header">
      <h1><span class="glyphicon glyphicon-tower"></span>Restore Posts Using WCF XML</h1>
    </div>

    <!-- SHOW ERROR/SUCCESS MESSAGES -->
    <div id="messages"></div>

      <!-- FORM -->
      <form name="myForm" ng-submit="processForm()">
        <!-- NAME -->
        <div id="name-group" class="form-group">
          <label>Post URL</label>
          <input type="url" name="name" class="form-control" placeholder="www.abc.com" ng-model="formData.name">
          <span class="help-block" ng-show="errorName">{{ errorName }}</span> 
          </div>

          <div role="alert">
          <span class="error" ng-show="myForm.name.$error.required">
          Required!</span>
          <span class="error" ng-show="myForm.name.$error.url">
          Not valid url!</span>
        </div>

        <!--<span>text = {{formData.name}}</span><br/>
        <span>myForm.input.$valid = {{myForm.namename.$valid}}</span><br/>
        <span>myForm.input.$error = {{myForm.name.$error}}</span><br/>
        <span>myForm.$valid = {{myForm.$valid}}</span><br/>
        <span>myForm.$error.required = {{!!myForm.$error.required}}</span><br/>
        <span>myForm.$error.url = {{!!myForm.$error.url}}</span><br/> -->
        <label>*Make sure its an empty blog</label>
        <!-- SUPERHERO NAME -
        <div id="superhero-group" class="form-group">
        <label>Make sure its an empty blog</label>
        <input type="checkbox" name="superheroAlias"  ng-model="formData.superheroAlia">
        <span class="help-block" ng-show="errorSuperhero">{{ errorSuperhero }}</span> 
        </div>-->

        <!-- SUBMIT BUTTON -->
        <button type="submit" class="btn btn-success btn-lg btn-block">
          <span class="glyphicon glyphicon-flash"></span> Submit!
        </button>

      </form>


    <!-- SHOW DATA FROM INPUTS AS THEY ARE BEING TYPED -->

    
    <textarea rows="14" cols="74" id="dataToCopy" onClick="SelectAll('dataToCopy');">
      {{message}}
    </textarea>

    </div>
  </div>
  </body>
</html>